# Copied to ~/.config/git/config.local on first run if that file doesn't
# already exist. Not tracked by git. Edit the copy at ~/.config/git/config.local.
[user]
	email = 7255333+perrwa@users.noreply.github.com
	name = Perry Wang
